<footer class="footer py-2 mt-auto bg-dark">
    <div class="text-center fs-6">
        <span class="text-info">CP4U(Made By Harsh Gupta)</span>
        <a href="https://www.linkedin.com/in/harsh-gupta-b72912199" target="_blank">
            <i class="bi bi-linkedin text-white mx-2"></i></a>
        <a href="https://github.com/harshwb12/CodingConnect" target="_blank">
            <i class="bi bi-github text-white mx-2"></i></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <li><a href="/sitemap">Site Map</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/support">Customer Support</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <%= new Date().getFullYear() %> Your Company Name. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <form action="/subscribe" method="POST">
                    <input type="email" name="email" placeholder="Subscribe to our newsletter">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</footer>

