<% layout('layouts/boilerplate') %>
    <div class="card mb-2">
        <div class="card-header text-center fs-4">
            About this website
        </div>
        <div class="card-body">
            <h5 class="card-title fs-4">Website for an effective interface between mentors and students in a coding club</h5>
            <p class="card-text fs-5">
                I developed this dynamic and user-friendly website called CodingConnect, which serves as an effective interface between mentors and students in a coding club. The website streamlines the management of coding groups, problem sets, announcements, and group administration, making it easier for mentors to engage with their students and provide valuable resources for learning.
            </p>
            <ul class="card-text fs-5 mr-auto">
                <li>Saving the status of a problem manually(like done or not done).</li>
                <li>Adding a note to a certain problem.</li>
                <li>Adding any problem as favourite.</li>
                <li>Getting all the contest at codeforces,codechef,atcoder in upcoming 7 days.</li>
            </ul>
            <%if(!currentUser) {%>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-primary">Register</a>
                <% } %>
        </div>

    </div>
