<% layout('layouts/boilerplate') %>
    <div class="card mb-2">
        <div class="card-header text-center fs-4">
            About this website
        </div>
        <div class="card-body">
            <h5 class="card-title fs-4">A website to efficiently maintain users comptetive programming progress.</h5>
            <p class="card-text fs-5">
                I made this project keeping in mind that i can get all the problems/study resources
                provided by my mentors at CodeISM at one place and use them efficiently.
                So in this website Users can create their own groups or join their admin/mentor's group.
                This way you can access problemsets provided by admin or
                create your own problemset by simply creating your group.
                Additional features include -
            </p>
            <ul class="card-text fs-5 mr-auto">
                <li>Saving the status of a problem manually(like done or not done).</li>
                <li>Adding a note to a certain problem.</li>
                <li>Adding any problem as favourite.</li>
                <li>Getting all the contest at codeforces,codechef,atcoder in upcoming 7 days.</li>
            </ul>
            <%if(!currentUser) {%>
                <a href="/login" class="btn btn-primary">Login</a>
                <a href="/register" class="btn btn-primary">Register</a>
                <% } %>
        </div>

    </div>