<% layout('layouts/boilerplate') %>
    <div class="row">
        <h3 class="text-center">User Profile</h3>

        <h4>Username : <%=user.username%>
        </h4>
        <h4> Email : <%=user.email%>
        </h4>
        <h4>User Unique ID : <%=user._id%>
        </h4>
    </div>